{% extends "layout.html" %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col-2">
      <h5>Group</h5>
    </div>
    <div class="col-2">
      <h5>Creator</h5>
    </div>
  </div>
  {% for group in groups %}
  <div class="row">
    <div class="col-2">{{ group.name }} </div>
    <div class="col-2"> {{ group.creatorname }} </div>

    {% if users is defined %}
    <form action="{{ url_for('groups_view', group_id=group.id) }}">
      <input type="submit" value="View" class="btn btn-secondary" style="margin: 5px 5px 0px 0px;" />
    </form>
    {% else %}
    <form action="{{ url_for('groups_join', group_id=group.id) }}">
      <input type="submit" value="Join" class="btn btn-secondary" style="margin: 5px 5px 0px 0px;" />
    </form>
    {% endif %}
  </div>
  {% endfor %}
</div>
{% endblock %}