{% extends "layout.html" %}

{% block body %}
<table>
  <tr>
    <th>Chore</th>
    <th>Points</th>
  </tr>
  {% for chore in chores %}
  <tr>
    <td>{{ chore.name }}</td>
    <td>{{ chore.points }}</td>
    <form method="POST" action="{{ url_for('instances_create', chore_id=chore.id) }}">
      <td colspan="2">
        <input type="submit" value="Mark done!" />
      </td>
    </form>
    <form method="POST" action="{{ url_for('chores_change_points', chore_id=chore.id) }}">
      <td>
        {{ form.points }}
      </td>
      <td>
        <ul>
          {% for error in form.points.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      <td>
      <td colspan="2">
        <input type="submit" value="Change points" />
      </td>
    </form>
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}