{% extends "layout.html" %}

{% block body %}
  <table>
    <tr>
      <th>Chore</th>
      <th>Points</th>
    </tr>
    {% for chore in chores %}
    <tr>
      <td>{{ chore.name }}</td>
      <td>{{ chore.points }}</td>
      <td>
        <form method="POST" action="{{ url_for('chores_change_points', chore_id=chore.id) }}">
            <input type="int" name="points"/>
            <input type="submit" value="Change points"/>
          </form>
      </td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}